body {
	background-color: rgba(0, 0, 0, 0) !important;
}

div.stream-chat-header {
	display: none !important;
}

section.chat-room {
	background-color: rgba(0, 0, 0, 0) !important;
}

section.chat-room > div > div:not(:nth-child(4)):not(:nth-child(6)) {
	display: none !important;
}

.chat-line__icons,
.chat-input-tray__open {
	display: none !important;
}

.announcement-line,
.announcement-line > *,
.chat-line__message,
.chat-line__status,
.chat-scrollable-area__message-container,
.user-notice-line {
	margin-left: 0 !important;
	border-left: none !important;
}

/* ============ */
/* Only Change Code Below */
/* ============ */

/* Message Styles */
.chat-scrollable-area__message-container *:not(a) {
	text-shadow: 1px 1px 0 #000, 1px 2px 2px #000 !important;
	font-size: 28px;
	font-weight: 400 !important;
	font-family: "Google Sans", Roboto, "Helvetica Neue", Arial, sans-serif;
	background-color: rgba(0, 0, 0, 0) !important;
	color: #ffffff;
}

/* Link Color */
a {
	color: #ab80eb !important;
}

/* 
 OPTIONAL - Hide your chatbot messages.
 Replace chatbot-username with your bot's name. Must be in Lowercase! 
 (example #1: StreamElements = streamelements) 
 (example #2: Nightbot = nightbot) 

 If you have multiple bots just duplicate the code below and 
 replace chatbot-username with the other bot names.
*/
.chat-line__message[data-a-user="chatbot-username"] {
	display: none !important;
}
